@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body,
#root {
  background-color: #f5f6f8;
  box-sizing: border-box;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.ant-tabs-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ant-tabs-tab {
  width: 50%;
  justify-content: center;
  font-weight: 600;
}

.ant-tabs-tab-active {
  color: black;
}
